<!DOCTYPE html>
<html>
  <head>
    <title>MyAppWeb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= live_title @view_module, "GitHub Repos" %>
    <%= live_metas @view_module %>
    <%= live_assets @view_module %>
  </head>
  <body>
    <%= live_render(@conn, MyAppWeb.ProjectLive) %>
  </body>
</html>
