<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta name="description" content="Tarun Gunaseelan is an ambitious cloud security engineer and Information Science and Psychology dual major at the University of Maryland, College Park. As an AWS Solutions Architect and DevOps intern at Telesign, he is experienced in building secure cloud infrastructure and developing innovative solutions for real-world problems. Tarun is also an undergraduate researcher at the Maryland Neuroimaging Center, where he applies pattern-based analysis and machine learning techniques to cognitive neuroscience research. With a passion for biocomputing and the intersection of computer science and neuroscience, Tarun is eager to contribute his skills to new challenges and projects. Explore his portfolio and résumé to learn more.">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="Tarun Gunaseelan">
      <%= assigns[:page_title] %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
